@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font: 20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #f5f5f5;
  color: #4d4d4d;
  margin: 0;
  padding: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

#app {
  height: 100%;
}
